
<div class="summary">
    <a href="subject/{{id}}">
        <h2>{{name}}</h2>
    </a>
    <div class="typeSummary">
        <p>Emotions: {{averageScore type_one_answers}}</p>
        <p>Thoughts: {{averageScore type_two_answers}}</p>
        <p>Confidence: {{averageScore type_three_answers}}</p>
        <p>Consistency: {{averageScore type_four_answers}}</p>
    </div>
</div>
